body{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr auto 2fr auto;
    font-family: Arial, Helvetica, sans-serif;
}

.svårighet{
    display:flex;
    flex: content;
    flex-direction: row;
}

.stjärna{
    max-width: 25px;
    max-height: 25px;
    margin-top: 13px;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
}

.Rubrik{
    background-color: rgb(190, 190, 190);
    margin: 5px;
    padding: 7px;
    grid-column: 1/ span 2;
}

.Lasagne{
    grid-column: 3/ span 2;
    margin: 5px;
}

.lasagnebild{
    max-height: 300px;
    min-width: 600px;
}